.notFound-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .notFound-box{
        display: flex;
        flex-direction: column;

        h3{
            font-size: x-large;
            font-weight: bold;
        }
    }
}