@-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  .login-container {
    background-image: url('../../assets/images/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    flex-direction: column;
  
    .form-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      background: transparent;
  
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        .wrap-input {
          position: relative;
          width: 100%;
          z-index: 1;
  
          .focus-input {
            display: block;
            position: absolute;
            border-radius: 5px;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 0px;
            color: rgba(0, 91, 234, 0.6);
            border: 1px solid #fff;
            -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
            animation: anim-shadow 0.5s ease-in-out forwards;
          }
  
          .symbol-input {
            font-size: 18px;
            color: #fff;
  
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 30px;
            pointer-events: none;
  
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
          }
  
          .focus-input + .symbol-input {
            color: #00c6fb;
            padding-left: 4px;
          }
          
          .material-icons{
            font-size: 16px;
            color: #fff;
          }

          input {
            border: 1px solid #fff;
            border-radius: 5px;
            background: transparent;
            padding: 5px;
  
            &::-webkit-input-placeholder {
              color: #fff;
              text-align: center;
            }
          }
        }
  
        .login-btn-container {
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
  
          .login-btn {
            font-family: "Open Sans";
            font-size: 15px;
            line-height: 1.5;
            color: #fff;
  
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            border-radius: 5px;
            background: #0CD3B5;
            background: -webkit-linear-gradient(to left, #0CD3B5, #1DC4E9);
            background: -o-linear-gradient(to left, #0CD3B5, #1DC4E9);
            background: -moz-linear-gradient(to left, #0CD3B5, #1DC4E9);
            background: linear-gradient(to left, #0CD3B5, #1DC4E9);
            box-shadow: -1px 6px 13px 0px rgba(0, 0, 0, 0.52);
            transition: all 0.4s;
  
            position: relative;
            z-index: 1;
  
            &::before {
              content: "";
              display: block;
              position: absolute;
              z-index: -1;
              width: 100%;
              height: 100%;
              border-radius: 5px;
              top: 0;
              left: 0;
              background: #1DC4E9;
              background: -webkit-linear-gradient(to left, #1DC4E9, #0CD3B5);
              background: -o-linear-gradient(to left, #1DC4E9, #0CD3B5);
              background: -moz-linear-gradient(to left, #1DC4E9, #0CD3B5);
              background: linear-gradient(to left, #1DC4E9, #0CD3B5);
              transition: all 0.4s;
              opacity: 0;
            }
  
            &:hover {
              background: transparent;
              color: #fff;
              cursor: pointer;
            }
  
            &:hover:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  